/* body {
  display: flex;
  align-items: center;
  margin: 0 auto;
} */

.navbar {
  background-color: cyan;
}

a.logo-nav {
  padding-left: 50px;
}

a.post-nav:hover,
a.login-nav:hover,
a.signup-nav:hover,
a.logo-nav:hover
{
  text-decoration: none;
  color: yellow;
}

a.logo-nav:visited {
  text-decoration: none;
}


.uni-logo {
  color: yellow;
}

a.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  font-family: Helvetica;

}

.brand-logo.nav-wrapper.container {
  height: 60px;
  font-size: 40px;
  text-decoration: none;
}

.app-footer {
  margin-bottom: 20px;
  /* position: fixed; */
}

div.form-group {
  width: 90%;
  margin-left: 10px;
}



.container {
  border: 1px;
}

.list-group-item {
}

.post-item.title {
  padding: 0 20px 0 0;
  display: inline-block;
}

.post-item.text {
  padding: 0 0 0 20px;
  display: inline-block;
}

.reply-button {
  float: left;
  padding: 0 10px 0 0;
}
