/* body {
  display: flex;
  align-items: center;
  margin: 0 auto;
} */

.navbar {
  background-color: cyan;
}

a.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  font-size: 36px;
  font-family: Helvetica;
}

.app-footer {
  margin-bottom: 20px;
  /* position: fixed; */
}

div.form-group {
  width: 90%;
  margin-left: 10px;
}

.container {
  border: 1px;
}

.list-group-item {
}

.post-item.title {
  padding: 0 20px 0 0;
  display: inline-block;
}

.post-item.text {
  padding: 0 0 0 20px;
  display: inline-block;
}

.reply-button {
  float: left;
  padding: 0 10px 0 0;
}
